{% extends 'base_admin.html' %}
{% load static %}
{% block title %}
Administrador
{% endblock %}


{% block content %}
    <div class="cart-row">
        <div style="flex:1"><p>Imagen</p></div>
        <div style="flex:1"><p>ID</p></div>
        <div style="flex:1"><p>Nombre producto</p></div>
        <div style="flex:1"><p>Precio</p></div>
        <div style="flex:1"><p>Actualizar</p></div>
        <div style="flex:1"><p>Eliminar</p></div>
    </div>
    {% for producto in productos %}
        <div class="cart-row">
            <div style="flex:1"><img class="row-image" src="{{ producto.imageURL }}"></div>
            <div style="flex:1"><p>{{ producto.id_producto }}</p></div>
            <div style="flex:1"><p>{{ producto.nombre }}</p></div>
            <div style="flex:1"><p>{{ producto.precio }}</p></div>
            <div style="flex:1"><a class="btn btn-sm btn-info" href="{% url 'actualizar' producto.id_producto %}">Actualizar</a></div>
            <div style="flex:1"><a class="btn btn-sm btn-danger" href="{% url 'eliminar' producto.id_producto %}">Eliminar</a></div>
        </div>

    {% endfor %}


{% endblock %}