{% extends 'base.html' %}
{% load static %}
{% block  content%}
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form_wrapper">
                <form id="form">
                <div id="user-info">
                    <div class="form-field">
                        <input required class="form-control" type="text" name="nombre" placeholder="Nombre..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="text" name="correo" placeholder="Correo..">
                    </div>
                </div>
                <div id="shipping-info">
                    <hr>
                    <p>Información del envio</p>
                    <hr>
                    <div class="form-field">
                        <input required class="form-control" type="text" name="dirección" placeholder="Dirección..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="text" name="cuidad" placeholder="Cuidad..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="text" name="país" placeholder="País..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="text" name="telefono" placeholder="Telefono..">
                    </div>
                </div>
                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continuar">
                </form>
            </div>
            <br>
            <div class="box-element hidden" id="payment-info">
                <small>Opciones Paypal</small> 
            </div>  
        </div> 
        <div class="col-lg-6">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Volver al Carrito</a>
                <hr>
                <h3>Resumen de la Orden</h3>
                <hr>
                {% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
					<div style="flex:2"><p>{{item.product.nombre}}</p></div>
					<div style="flex:1"><p>${{item.product.precio|floatformat:2}}</p></div>
					<div style="flex:1">
						<p class="quantity">{{item.quantity}}</p>
						<div class="quantity">
							<img class="chg-quantity" src="{% static  'images/arrow-up.png' %}">
					
							<img class="chg-quantity" src="{% static  'images/arrow-down.png' %}">
						</div>
					</div>
					<div style="flex:1"><p>$32</p></div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock content %}
