{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% block title %}
{% endblock %}


{% block content %}
    <div class="row">
		{% for producto in productos %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{ producto.imageURL }}">
			<div class="box-element product">
				<h6><strong>{{producto.nombre}}</strong></h6>
				<hr>

				<button data-product="{{producto.id_producto}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">Ver</a>
				<h4 style="display: inline-block; float: right"><strong>${{producto.precio}}</strong></h4>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}